@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container{
	max-width: 1500px;
	margin: 0 auto;
}

.material-icons{
	font-size: 40px;
}

.icon{
	text-align: right;
	margin: 60px;
	cursor: pointer;
}

.cards-view {
	width: 100%;
	margin-top: 20px;
}

.cards-item-view {
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
	padding: 0px 10px;
}

.item-img-view {
	width: 100px;
	height: 100px;
}

.item-title-view {
	font-size: 25px;
}

.item-price-view {
color: red;
}

.item-btn-view {
	border-radius: 15px;
	width: 110px;
	height: 30px;
	color: red;
	border: 1px solid red;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards-item {
	width: 300px;
	height: 300px;
	margin: 50px;
	text-align: center;
}

.item-header {
	margin-bottom: -70px;
	position: relative;
}

.item-title {
font-size: 25px;
}

.item-img {
	width: 100%;
	height: 100%;
}

.item-coast {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: -50px;
	color: red;
}

.item-btn {
	border-radius: 15px;
	width: 110px;
	height: 30px;
	color: red;
	border: 1px solid red;
}